.landing-page{
    background-image: url("https://bit.ly/2NxC2uK");
    background-size: cover;
    height:120vh;
    text-align: center;
    color: white;
    padding-top: 280px;

}
.logo{
  padding-bottom: 30px;
}
.mouse{
  padding-top: 90px;
}
h2{
  text-align: center;
  font-weight: bold;
}
p{
  text-align: center;
}
.services{
  background-image: url("../image/s_image.jpg");
  height:40vh;
  color:white;
  padding-top: 80px;
}
h3{
  text-align: center;
  font-weight: bold;
}
#hide{
  display: none;
  color: black;
}
#hide1{
  display:none;
  color:black;
}
#hide2{
  display: none;
  color: black;
}
.contact-us{
  background-image: url("../image/c_image.jpg");
  height:50vh;
  color: white;
  padding: 100px;

}